input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
body *{
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.85);
}
body {
    background: url(/assets/bg-desktop.jpg) no-repeat top center/cover;
}
#cs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
#ci{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.container1{
    background-position: center;
    border: 5px solid rgba(255, 255, 255, 0.5)

}
.container2{
    background-position: center;
    border: 5px solid rgba(255, 255, 255, 0.5)

}
.container3{
    background-position: center;
    border: 5px solid rgba(255, 255, 255, 0.5)
}
.container4{
    background-position: center;
    border: 5px solid rgba(255, 255, 255, 0.5)
}


.container1{
    text-align: center;
    padding: 25px 110px 150px 110px;
    height: 100px;
    width: 265px;
}
.container2{
    text-align: center;
    padding: 25px 110px 150px 110px;
    height: 100px;
    width: 265px;
}
.container3{
    text-align: center;
    padding: 25px 110px 250px 110px;
    height: 100px;
    width: 265px;
} 
.container4{
    text-align: center;
    padding: 25px 110px 150px 110px;
    height: 100px;
    width: 265px;
}
a{
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.2s;
}
a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}
